/* GENERAL */
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
  
}  




/* HEADER */

.header {
display: grid;
}

.headerEncabezado {
display: flex;
justify-content: center;
align-items: center;
padding-top: 0.8rem;
font-weight:600;
color: rgba(40, 67, 34, 1);
background-color: rgba(255, 184, 4, 1);
}

.headerNavbar {
display: flex;
justify-content: space-between;
align-items: center;

padding-top: 1.6rem;
padding-left: 4rem;
padding-right: 4rem;
padding-bottom: 0.7rem;
}

.ulNavbar {
display: flex;
justify-content: center;
align-items: center;
gap: 2rem;
}

.liNavbar {
padding: 1rem;
border-radius: 1rem;
color: white;
}

.liNavbar:hover {
font-weight: 700;
}

.imgNav {
background-image: url(../img/Logo-90x90---Blanco-y-amarillo.png);

width: 6rem;
height: 6rem;
background-repeat: no-repeat;
background-position: center
}


/* ====== SECCIÓN DEL INICIO ====== */

/* Div Imagen */

.divImg {
background-image: url(../img/a.png);
background-repeat: no-repeat;
background-position: center center /*fixed*/;
height: 40rem;
background-size: cover;
}

.textoHeader {
padding-top: 14rem;
}

.h1Inicio {
padding-top: 5rem;
padding-left: 5rem;
color: white;
}

.pInicio {
padding-top: 1.6rem;
padding-left: 5rem;
padding-bottom: 1rem;
color: white;
}


/* ====== SECCIÓN DE SERVICIOS ====== */

.boxServicios {
display: grid;
justify-content: center;
gap: 2rem;
}

.boxArticulosServicios {
display: grid;
align-items: center;
}

.boxServicios {
margin: 4rem;
display: grid;
align-items: center;
justify-content: center;
}

.boxTitulo {
display: flex;
justify-content: first baseline;
align-items: center;
gap: 2rem;
margin-bottom: 3rem;
}

.barServ {
background-color: rgba(12, 58, 47, 1);
height: 5rem;
width: 0.3rem;
}

.tituloServ {
color: rgba(12, 58, 47, 1);
font-size: 4rem;
}

.boxArticulosServicios {
display: grid;
justify-content: center;
align-items: center;
}

/* Cards */

.boxMensaje {
width: 100%;
display: grid;
align-items: center;
justify-content: center;
}

.mensajeServ { 
display: flex;
justify-content: center;
align-items: center;
border-radius: 2rem;
padding: 4rem 3rem 3rem 3rem;
background-color: rgba(255, 184, 4, 1);
max-height: 5rem;
max-width: 60rem;
font-size: 1.5rem;
margin-top: 1.5rem;
}

.card {
border: solid 0;
}

.box {
border: solid 2px rgba(12, 58, 47, 1);
border-right: solid 1rem rgba(12, 58, 47, 1);
border-radius: 1.2rem;
overflow: hidden;
}

.divCard {
margin-top: 2rem;
margin-left: 2rem;
margin-right: 2rem;
}

.imgCard {
border: solid 2px rgba(12, 58, 47, 1);
}

.card-title {
color: rgba(12, 58, 47, 1);
font-size: 2rem;
}

.card-text {
font-size: 1.5rem;
}

.colorLink {
color: black;
font-weight: 500;
}


/*  =========================================  */


/* ====== SECCIÓN DEL INICIO ====== */


/* Div Imagen */



.h1Inicio {
padding-top: 5rem;
padding-left: 5rem;
}

.pInicio {
padding-top: 1.6rem;
padding-left: 5rem;
padding-bottom: 11rem;
}

/* Div Carrusel */

.divCarrusel {
margin-top: 4rem;
}


/* ====== SECCIÓN DE SERVICIOS ====== */

.boxServicios {
margin: 4rem;
}

.boxArticulosServicios {
display: grid;
justify-content: center;
align-items: center;
}

/* Cards */

.articuloServicios { 
display: flex;
justify-content: center;
align-items: center;

border-radius: 1rem;
padding: 2rem;
}

.divCard {
margin-top: 2rem;
margin-left: 2rem;
margin-right: 2rem;
}


/* --- SECCIÓN DEL FOOTER AGREGAR--- */

.footerStyle{
background-color: #0972A3;
}
.footerStyle1{
background-color: #01628F;
}

/* --- SECCIÓN AGREGADO AL PROYECTO AGREGAR--- */

.divImg1 {
background-image: url(../img/a.png);
background-repeat: no-repeat;
background-position: center center /*fixed*/;
background-size: cover;
}

.p1{
color:white;
}

.botonEnviar{
background-color: #FFD600;
}

.verdeOscuro{
background-color: #0C3A2F;
}

/* --- ULTIMO AGREGADO--- */

.divImg2 {
background-image: url(../img/degrade.png);
background-repeat: no-repeat;
background-position: center center /*fixed*/;
background-size: cover;
}

.producto{
  position: sticky; top: 0px; z-index: 9999;
}